{% extends 'base.html' %}

{% block title %}Admin - Ivelosi{% endblock %}

{% block content %}
            <!-- Header Start -->
            <div class="container-fluid bg-breadcrumb">
                <div class="container text-center py-5" style="max-width: 900px;">
                    <h4 class="text-white display-4 mb-4 wow fadeInDown" data-wow-delay="0.1s">Welcome to Ivelosi</h4>
                    <ol class="breadcrumb d-flex justify-content-center mb-0 wow fadeInDown" data-wow-delay="0.3s">
                        <li class="breadcrumb-item active text-primary">Ivelosi Admin Panel</li>
                    </ol>    
                </div>
            </div>
            <!-- Header End -->
        </div>
        <!-- Navbar & Hero End -->


       <div class="container-fluid about py-5">
        <h1 id="about">WELCOME, Admin.</h1>
        <h3 id="about">Contact Submissions</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Project</th>
                <th>Subject</th>
                <th>Message</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tbody>
            {% for submission in submissions %}
            <tr>
                <td>{{ submission[0] }}</td>
                <td>{{ submission[1] }}</td>
                <td>{{ submission[2] }}</td>
                <td>{{ submission[3] }}</td>
                <td>{{ submission[4] }}</td>
                <td>{{ submission[5] }}</td>
                <td>{{ submission[6] }}</td>
                <td>{{ submission[7] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/admin/create_blog">create a new Post?</a>
    <a href="/logout">Logout</a>
       </div>
       {% endblock %}