{% extends 'base.html' %}

{% block title %}FAQs - Ivelosi{% endblock %}

{% block content %}
<!-- Header Start -->
            <div class="container-fluid bg-breadcrumb">
                <div class="container text-center py-5" style="max-width: 900px;">
                    <h4 class="text-white display-4 mb-4 wow fadeInDown" data-wow-delay="0.1s">FAQs</h4>
                    <ol class="breadcrumb d-flex justify-content-center mb-0 wow fadeInDown" data-wow-delay="0.3s">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Pages</a></li>
                        <li class="breadcrumb-item active text-primary">FAQ</li>
                    </ol>    
                </div>
            </div>
            <!-- Header End -->
        

        <!-- FAQs Start -->
<div class="container-fluid faq-section py-5">
    <div class="container py-5 overflow-hidden">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
            <h4 class="text-primary">FAQs</h4>
            <h1 class="display-5 mb-4" id="about">Frequently Asked Questions</h1>
            <p class="mb-0">Let us clear your doubts!</p>
        </div>
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeInLeft" data-wow-delay="0.2s">
                <div class="accordion accordion-flush bg-light rounded p-5" id="accordionFlushSection">

                    <div class="accordion-item rounded-top">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed rounded-top" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                How does Ivelosi work without ISPs?
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                            data-bs-parent="#accordionFlushSection">
                            <div class="accordion-body" id="faq">
                                Ivelosi enables direct, peer-to-peer communication using AI-optimized routing and unlicensed WiFi spectrum, removing the need for traditional ISPs.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                Is Ivelosi completely free to use?
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                            data-bs-parent="#accordionFlushSection">
                            <div class="accordion-body" id="faq">
                                No, Ivelosi follows a one-time pay model. Whatever the payment you made while purchasing our app or device, you get a life-time internet connectivity. Pretty feasible, isn’t it?
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                How does Ivelosi ensure security?
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                            data-bs-parent="#accordionFlushSection">
                            <div class="accordion-body" id="faq">
                                Every node is verified through blockchain authentication, ensuring tamper-proof security, encryption, and decentralized trust. Bitcoin is the live example of how our internet's security will work.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                                Can I use Ivelosi on my Existing Device?
                            </button>
                        </h2>
                        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
                            data-bs-parent="#accordionFlushSection">
                            <div class="accordion-body" id="faq">
                                Yes, you can using our App. But accessing the DNC WEB using Ivelosi Devices is recommended. Because it allows excellent performance with zero limitations, perfectly tailored for the DNC Protocol.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                                What happens if no nodes are nearby?
                            </button>
                        </h2>
                        <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive"
                            data-bs-parent="#accordionFlushSection">
                            <div class="accordion-body" id="faq">
                                In case of non-Ivelosi Devices, you go offline. But if you are using an Ivelosi-Powered device, then ML switches to LoRa Band enabling long-range communications even if no nodes are nearby. ISP-free connectivity anywhere and everywhere!
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingSeven">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
                                Can Ivelosi replace traditional broadband services?
                            </button>
                        </h2>
                        <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven"
                            data-bs-parent="#accordionFlushSection">
                            <div class="accordion-body" id="faq">
                                Yes! Ivelosi offers an alternative to broadband by leveraging a decentralized communication network. Unlike traditional ISPs, there are no hidden fees, no speed throttling, and no dependence on telecom providers.
                            </div>
                        </div>
                    </div>
                    
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingEight">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
                                How does Ivelosi handle large file transfers?
                            </button>
                        </h2>
                        <div id="flush-collapseEight" class="accordion-collapse collapse" aria-labelledby="flush-headingEight"
                            data-bs-parent="#accordionFlushSection">
                            <div class="accordion-body" id="faq">
                                Ivelosi uses a decentralized CDN (Content Delivery Network) with AI-optimized routing to split and transfer large files efficiently across multiple nodes, ensuring fast and secure delivery.
                            </div>
                        </div>
                    </div>
                    
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingNine">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseNine" aria-expanded="false" aria-controls="flush-collapseNine">
                                Can Ivelosi be used for real-time applications like VoIP and video calls?
                            </button>
                        </h2>
                        <div id="flush-collapseNine" class="accordion-collapse collapse" aria-labelledby="flush-headingNine"
                            data-bs-parent="#accordionFlushSection">
                            <div class="accordion-body" id="faq">
                                Yes! Ivelosi’s AI-powered network ensures ultra-low latency, making it perfect for VoIP calls, video conferencing, and real-time communication without relying on telecom providers.
                            </div>
                        </div>
                    </div>
                    
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTen">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseTen" aria-expanded="false" aria-controls="flush-collapseTen">
                                Does Ivelosi have a search engine?
                            </button>
                        </h2>
                        <div id="flush-collapseTen" class="accordion-collapse collapse" aria-labelledby="flush-headingTen"
                            data-bs-parent="#accordionFlushSection">
                            <div class="accordion-body" id="faq">
                                Yes! Ivelosi features a smart decentralized search engine that helps users find information across the DNC Web, ensuring private and uncensored access to information.
                            </div>
                        </div>
                    </div>
                    
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingEleven">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseEleven" aria-expanded="false" aria-controls="flush-collapseEleven">
                                How does Ivelosi prevent network congestion?
                            </button>
                        </h2>
                        <div id="flush-collapseEleven" class="accordion-collapse collapse" aria-labelledby="flush-headingEleven"
                            data-bs-parent="#accordionFlushSection">
                            <div class="accordion-body" id="faq">
                                Unlike centralized ISPs, Ivelosi’s distributed network balances traffic across multiple nodes using machine learning to prevent congestion, ensuring smooth and fast connectivity.
                            </div>
                        </div>
                    </div>
                    
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwelve">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseTwelve" aria-expanded="false" aria-controls="flush-collapseTwelve">
                                Can I use Ivelosi on multiple devices?
                            </button>
                        </h2>
                        <div id="flush-collapseTwelve" class="accordion-collapse collapse" aria-labelledby="flush-headingTwelve"
                            data-bs-parent="#accordionFlushSection">
                            <div class="accordion-body" id="faq">
                                Yes! Ivelosi allows multi-device connectivity, enabling you to link multiple devices through the same network without any extra charges.
                            </div>
                        </div>
                    </div>
                    
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThirteen">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseThirteen" aria-expanded="false" aria-controls="flush-collapseThirteen">
                                Is Ivelosi a blockchain-based internet?
                            </button>
                        </h2>
                        <div id="flush-collapseThirteen" class="accordion-collapse collapse" aria-labelledby="flush-headingThirteen"
                            data-bs-parent="#accordionFlushSection">
                            <div class="accordion-body" id="faq">
                                Ivelosi is a hybrid decentralized internet that integrates blockchain for security and authentication but does not rely solely on blockchain for data transfer, ensuring fast and scalable connectivity.
                            </div>
                        </div>
                    </div>
                    
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingFourteen">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseFourteen" aria-expanded="false" aria-controls="flush-collapseFourteen">
                                Will Ivelosi work during power outages?
                            </button>
                        </h2>
                        <div id="flush-collapseFourteen" class="accordion-collapse collapse" aria-labelledby="flush-headingFourteen"
                            data-bs-parent="#accordionFlushSection">
                            <div class="accordion-body" id="faq">
                                Yes! Since Ivelosi runs on a decentralized network, nodes can stay online using battery backups, solar-powered devices, or alternate energy sources, ensuring connectivity even during power failures.
                            </div>
                        </div>
                    </div>
                    
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingFifteen">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseFifteen" aria-expanded="false" aria-controls="flush-collapseFifteen">
                                Can I earn money by running an Ivelosi node?
                            </button>
                        </h2>
                        <div id="flush-collapseFifteen" class="accordion-collapse collapse" aria-labelledby="flush-headingFifteen"
                            data-bs-parent="#accordionFlushSection">
                            <div class="accordion-body" id="faq">
                                Yes! By running an Ivelosi node, you can contribute to the network and earn rewards in the form of decentralized credits, which can be used for premium services or exchanged for other assets.
                            </div>
                        </div>
                    </div>                    

                    <div class="accordion-item rounded-bottom">
                        <h2 class="accordion-header" id="flush-headingSix">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                                Why should I switch to Ivelosi?
                            </button>
                        </h2>
                        <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix"
                            data-bs-parent="#accordionFlushSection">
                            <div class="accordion-body" id="faq">
                                Are you looking for a secure, smart, reliant, and private internet without ISPs? Ivelosi is the answer! Lower prices, lower latency, and high security.
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-lg-6 wow fadeInRight" data-wow-delay="0.2s">
                <div class="bg-primary rounded">
                    <img src="img/about-2.png" class="img-fluid w-100" alt="">
                </div>
            </div>

        </div>
    </div>
</div>
<!-- FAQs End -->
{% endblock %}